/*Menu opciones*/
/*Estilos botones*/
.containerOptions {
    margin: 10px 30px;
}
.btnOptions {
    height: 300px;
    text-align: center;
    line-height: 300px;
    border-bottom: 2px solid;
}
    .btnOptions a {
        display: block;
        text-decoration: none;
        height: 100%;
        width: 100%;
        color: white;
        background-image: linear-gradient(#e66465, #9198e5);
        background-position: 50% 60%;
        background-repeat: no-repeat;
        background-size: 0% 4px;
        transition-property: background-size color;
        transition-duration: 0.3s, 0.3s;
    }
/*Boton pasteles*/
#second-container {
    padding-top: 53px;
}
#cakeBefore {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Recursos/btnCake.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    font-size: 50px;
    font-family: Cambria;
}
/*Boton Macarons*/
#burgerBefore {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Recursos/btnMacarons.jpeg);
    background-size: cover;
    position: relative;
    background-position: center center;
    font-size: 50px;
    font-family: Cambria;
}
/*Boton Mesas*/
#packBefore {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Recursos/btnPack.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    font-size: 50px;
    font-family: Cambria;
}
/*Boton otros*/
#otherBefore {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Recursos/btnOther.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    font-size: 50px;
    font-family: Cambria;
}
/*ESTILOS MENU SELECCIÓN*/
#selection-container {
    text-align:center;
    margin: 0px 70px;
    padding-top:45px;
}
#table-container{
    width:100%;
    overflow:scroll;
}
#tbtProduct{
    width:100%;
    text-align:center;
    border-color:lightblue;
}
#buttons-container{
    display:flex;
}
#backOption {
    width: 50%;
    padding-top: 20px;
    text-align: start;
    height: 190px;
}
#addOption {
    width:50%;
    padding-top:20px;
    text-align:right;
    height:190px;
}
.btn-secondary:hover {
    background-color: #6F8FF3;
    border-color: #6F8FF3;
}
.btn-check:active + .btn-secondary, .btn-check:checked + .btn-secondary, .btn-secondary.active, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6F8FF3;
    border-color: #6F8FF3;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: #6F8FF3;
    border-color: #6F8FF3;
    box-shadow: 0 0 0 0.25rem rgba(130,138,145,.5);
}
.btn-secondary {
    color:black;
    background-color: #C8D3F5;
    border-color: #C8D3F5;
}
/*Responsive desing opciones*/
@media(min-width:768px) {
    #cakeBefore {
        width: 35%;
    }

    #burgerBefore {
        width: 65%;
    }

    #packBefore {
        width: 60%;
    }

    #otherBefore {
        width: 40%;
    }

    .btnOptions {
        border-bottom: none;
    }
    a:hover, a:focus {
        color: #FFB6C1;
        background-size: 25% 4px;
    }
    #table-container {
        overflow:hidden;
    }
}
