/*Componentes*/
#orders-secondContainer {
    margin: 0px 10px;
    padding-top:53px;
}
#title-container{
    text-align:center;
}
#optionsOrders-container {
    width: 100%;
    padding:25px 0px 0px 10px; /*Top Right Bottom Left*/
}
#buttonsOrder-container{
    position:relative;
}
#allOptionsList {
    width: 100%;
}
#optionsOrders-container a {
    display: block;
    width: 100%;
    height: 100%;
}
#optionsOrders-container a:hover{
    color:black;
}
#firstOption, #secondOption {
    width: 115px;
    height: 40px;
    text-align: center;
}
#btnDownload {
    margin: 0 auto;
}
/*Clases*/
.newAllOrders{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listOptions {
    display: inline-block;
}
.lkStyles {
    text-decoration: none;
    font-size: 18px;
}
.infoContainer {
    text-align: center;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.imgInfo {
    width: 100px;
    height: 100px;
}
.orders-containersOld {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oneOrder {
    width: 85%;
    margin-top: 20px;
    background-color: white;
}
.title {
    width: 97%;
    padding-left: 7px;
}
.containerOptionsNewOrders {
    display: flex;
    padding-top: 10px;
}
.tableInformation{
    width:80%;
}
.btnNewOptions {
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
}
.imgDotOptions {
    width: 100%;
    height: 100%;
}
.optionsImages {
    width: 25px;
    height: 25px;
    margin-left: 50px;
}
.optionsDownload {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.oneOrderDetail{
    width:85%;
}
.singleProduct {
    background-color: white;
    margin-top: 10px;
}
.headerSingleProduct {
    border-bottom: 1px solid #C6C1C2;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: #8E8B8B;
}
.imageProduct {
    background-size: cover;
    position: relative;
    background-position: center center;
    width:50%;
}
.dataContainer{
    width:50%;
}
.informationProductContainer {
    margin: 0px 0px 0px 10px;
    padding: 10px 0px;
    min-height: 200px;
}
.detailContainer {
    padding: 10px 0px;
}
.detailOrderContainer {
    background-color: #FAF9F9;
    margin-top: 10px;
}
.headerDataProduct {
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.noteContainer {
    padding: 10px;
    text-align: justify;
}
.downloadButtonContainer {
    height: 150px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
/*Efectos*/
.option-selected {
    color: black;
    border-bottom: 1px solid;
}
/*Responsive*/
@media(min-width:992px){
    #orders-secondContainer {
        margin: 0px 30px;
    }
    #optionsOrders-container {
        width: 100%;
        padding: 25px 0px 0px 20px;
    }
    #allOptionsList {
        border-bottom: 1px solid #C6C1C2;
    }
    #firstOption, #secondOption {
        width: 150px;
    }
    .infoContainer {
        padding: 0px 0px;
    }
    .imgInfo {
        width: 200px;
        height: 200px;
    }
    .orders-containers {
        padding: 0px 0px 0px 20px;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        cursor: pointer;
    }
    .informationProductContainer {
        min-height: 200px;
    }
    .productAllInfoContainer {
        width: 85%;
        margin: 0px auto;
    }
}